@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  outline: none;
}

#root {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 1rem;
  color: white;
}
header h1{
  margin-bottom: 2rem;
}
.business{
  margin-top: 2rem;
}
.business h3 {
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
button{
  padding: .3rem 1rem;
  border: 1px solid #eee;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
button:disabled {
  border-color: transparent;
  cursor: auto;
}
.flexible button {
  padding: .2rem .7rem;
}
.action button {
  margin-top: 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  margin-bottom: 3rem;

}

tr {
  border-bottom: 1px solid #727272;

}
tr:nth-child(2n + 2) {
   background-color: #2f333d;
}
th:first-child,
td:first-child {
  padding-left: 10px;
}
td,
th {
  padding: 8px 8px;
  text-align: left;
  vertical-align: middle;
}
thead {
  background-color: #1f2228;
  color: #eee;
}
.flexible {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexible p{
  margin-top: .5rem;
  font-size: .85rem;
  color: #71798d;
}

input[type="number"]{
  font-size: 1rem;
  font-weight: bold;
  max-width: 80px;
}
